In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importing all the required Libraries

In [69]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

## Data Collection and Analysis

In [3]:
#Loading the Data from Google Drive 
data = pd.read_csv("/content/drive/MyDrive/Machine Learning/project 1 Diabetics Predictions Using SVM/diabetes.csv")

In [7]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
#Shape of the data (rows, columns)
data.shape

(768, 9)

In [12]:
#Statistical Measure of the Data
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [14]:
#Getting the information If we have null values in the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [18]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

**Classes:**


0 ---> Non-Diabetic

1 ---> Diabetic

In [21]:
#Grouping the data based on the outcome and then taking the mean of the features
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# Separating the Input and Output labels

### "X" is the Input Lable

In [29]:
X = data.drop(columns = 'Outcome')

###"y" is the output data /Lable

In [26]:
y = data['Outcome']

# Data Standarization

We try to standarize all the feature in on the same scale for the model to perform efficiently

In [30]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [34]:
#Transform means we are getting all the columns in the same range
stand_data = scaler.transform(X)

In [37]:
X = stand_data   # Replacing the data with standarized data in the input lable
y = data['Outcome']

## Spliting the data into training the testing values for ML model

In [109]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, stratify=y, random_state=2)

In [110]:
# Checking the stats of the train and test data set
X_train.shape, X_test.shape

((614, 8), (154, 8))

# Training the ML Model

In [45]:
classifier = svm.SVC(kernel='linear')

### Training the model

In [46]:
classifier.fit(X_train,y_train)

SVC(kernel='linear')

### Making Predictions with training data

In [63]:
 #Making predictions based on training data
 predictions = classifier.predict(X_train)
#  predictions

### Accuracy Score with training data

In [62]:
accuracy = accuracy_score(y_train, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.7866449511400652

### Making Predictions with test data (For Unknown data to test our model)

In [112]:
 #Making predictions based on training data
 predictions = classifier.predict(X_test)
 predictions

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0])

### Making Predictions with test data (For Unknown data to test our model)

In [65]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.7727272727272727

# Making Predictive Systems

### Predictive System

In [106]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [73]:
input_data = (4, 110, 92, 0, 0, 37.6, 0.191, 30)
# Converting input_data to numpyarray
data_to_np_array = np.asarray(input_data)

#Reshape the array as we are predicting for one instance
input_data_reshaped = data_to_np_array.reshape(1, -1)

### Standarize the input data

We will use already made functions for standarizng the data, Making prediction and Finding the accuracy.

In [76]:
std_data = scaler.transform(input_data_reshaped)
std_data

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array([[ 0.04601433, -0.34096773,  1.18359575, -1.28821221, -0.69289057,
         0.71168975, -0.84827977, -0.27575966]])

### Making Predictions

In [116]:
prediction = classifier.predict(std_data)
prediction

if (prediction[0] == 0):
  print("The person is not Diabetic.")
else:
  print("The person is Diabetic.")

The person is not Diabetic.